@import "tailwindcss";


* {
  font-family: Righteous, sans-serif;
}


@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}